<nav class="navbar navbar-light bg-dark text-light">
    <div class="container-fluid mt-1">
        <p class="py-lg-2 mx-lg-5 mx-sm-2 text-light" [ngClass]="{'h6' : vw >= 500, 'fw-bold' : vw < 500}"><a href="">Plataforma de asociaciones <br> de Castilla - La Mancha</a></p>
        <div class="dropdown ">
            <img width="50px" class="rounded-circle border border-2 border-secondary profile-img mx-2" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" *ngIf="user.photoURL != null && vw > 600" [src]="user.photoURL" alt="User profile image"
            />
            <i class="bi bi-three-dots-vertical h3 text-light pt-5" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" *ngIf="vw <= 600 || user.photoURL == null"></i>
            <div class="dropdown-menu mt-2 dropdown-menu-end shadow-sm" aria-labelledby="dropdownMenuButton1">
                <div class="container mx-0">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center py-3">
                            <div class="row justify-content-between" *ngIf="user.photoURL != null">
                                <div class="col-3 d-block">
                                    <img width="100%" class="rounded-circle border border-2 border-secondary profile-img  m-auto " *ngIf="user.photoURL != null" [src]="user.photoURL" alt="User profile image" />
                                </div>
                                <div class="col-9 pt-3" [ngClass]="{'text-start' : vw >= 500, 'text-center' : vw < 500}">
                                    <p class="h5 mb-0">{{user.displayName}}</p>
                                    <small class="text-muted">{{user.email}}</small>
                                </div>
                            </div>
                            <hr *ngIf="user.photoURL != null">
                            <ul class="list-group list-group-flush text-start text-dark">
                                <li class="list-group-item h6 pb-3"><a href=""><i class="bi bi-house h4 me-3"></i>Inicio</a></li>
                                <li class="list-group-item h6 pb-3"><a [routerLink]="'/associations'"><i class="bi bi-collection h4 me-3"></i>Asociaciones</a></li>
                                <li class="list-group-item h6 pb-3" *ngIf="ass.name != ''"><a [routerLink]="['/profile', user.uid, userAss[0].id ]"><i class="bi bi-person-square h4 me-3"></i>{{ass.name}}</a></li>
                                <!--Riveder esta parte
                                <li class="list-group-item h6 pb-3"><a data-bs-toggle="modal" data-bs-target="#profileModal"><i class="bi bi-gear h4 me-3"></i>Configuración</a></li>
                                -->


                                <li class="list-group-item h6 pb-3" *ngIf="ass.name != ''"><a data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="bi bi-people h4 me-3"></i>Ofertas de voluntariado<i class="bi bi-caret-down-fill ms-4"></i></a></li>
                                <div class="collapse ms-4" id="collapseExample">
                                    <ul class="list-group list-group-flush text-start text-dark">
                                        <li class="list-group-item h6 pb-3"><a [routerLink]="['/offers']"><i class="bi bi-search h4 me-3"></i>Encontrar oferta</a></li>
                                        <li class="list-group-item h6 pb-3"><a data-bs-toggle="modal" data-bs-target="#newOfferModal" (click)="toggleFeedBack()"><i class="bi bi-megaphone h4 me-3"></i>Crear oferta</a></li>
                                        <li class="list-group-item h6 pb-3"><a [routerLink]="['/offers', user.uid ]"><i class="bi bi-sliders h4 me-3"></i>Ofertas publicadas</a></li>
                                    </ul>
                                </div>
                                <li class="list-group-item h6 pb-3"><a data-bs-toggle="modal" data-bs-target="#feedbackModal" (click)="toggleFeedBack()"><i class="bi bi-chat-text h4 me-3"></i>Enviar comentarios</a></li>
                                <li class="list-group-item h6 pb-3" *ngIf="ass.name != ''"><a data-bs-toggle="modal" data-bs-target="#eliminateModal"><i class="bi bi-trash h4 me-3"></i>Eliminar perfil de asociación</a></li>
                                <li class="list-group-item h6 pb-3"><a (click)="logout()"><i class="bi bi-box-arrow-right h4 me-3 ms-1"></i>Cerrar sesión</a></li>
                            </ul>
                            <small class="mt-2 fw-light text-muted copyright"><a [routerLink]="['/privacy']">Política de privacidad</a></small>
                            <small class="mt-2 fw-light text-muted copyright"> - Copyright © 2021 | Mauro Titanio</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>



<div class="modal fade" id="eliminateModal" tabindex="-1" aria-labelledby="eliminateModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Eliminar {{ass.name}}?</h5>
                <button type="button" id="closeDelete" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>¿Realmente quires borrar el perfil de <strong>{{ass.name}}</strong>?</p>
                <p>Todos los datos serán eliminados.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                <button type="button" class="btn btn-danger" (click)="deleteAss()">Eliminar</button>
            </div>
        </div>
    </div>
</div>





<!-- Feedback Modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="feedbackModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg mt-5">
        <form [formGroup]="commentForm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Envíanos un comentario</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div *ngIf="!feedbackSent">
                        <h5>Tu opinión es muy importante para que podamos seguir mejorando</h5>
                        <p> Si has tenido un problema o tienes sugerencias envíanos un mensaje aquí abajo.<br> O si la plataforma te ha gustado mucho, también nos lo puedes comentar.</p>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                            <textarea class="form-control border" id="exampleFormControlTextarea1" rows="5" formControlName="message"></textarea>
                            <div *ngIf="commentForm.controls['message'].invalid && (commentForm.controls['message'].dirty || commentForm.controls['message'].touched)" class="alert">
                                <div *ngIf="commentForm.controls['message'].hasError('required')">
                                    <div class="text-danger text-50 m-0">El mensaje está vacío</div>
                                </div>
                                <div *ngIf="commentForm.controls['message'].hasError('minlength')">
                                    <div class="text-danger text-50 m-0">Mínimo 10 caracteres</div>
                                </div>
                                <div *ngIf="commentForm.controls['message'].hasError('maxlength')">
                                    <div class="text-danger text-50 m-0">Máximo 1000 caracteres</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="feedbackSent" class="text-center">
                        <div class="container py-4">
                            <h6 class="my-4">Mensaje envíado</h6>
                            <i class="bi bi-check-circle-fill h1 text-success py-4"></i>
                            <h4 class="mt-4">¡Gracias por tu comentario!</h4>
                            <p>¡Lo aprovecharemos para seguir mejorando!</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button" class="btn btn-primary text-light" (click)="sendFeedBack()" *ngIf="!feedbackSent">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="modal fade" id="newOfferModal" tabindex="-1" aria-labelledby="eliminateModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear oferta de voluntariado</h5>
                <button type="button" id="closeDelete" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form [formGroup]="offerForm">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div *ngIf="!feedbackSent">
                                <div class="mb-5">
                                    <label for="name" class="form-label">Título</label>
                                    <input type="text" class="form-control border" placeholder="Poner un título llamativo" formControlName="title">
                                    <div *ngIf="offerForm.controls['title'].invalid && (offerForm.controls['title'].dirty || offerForm.controls['title'].touched)" class="alert">
                                        <div *ngIf="offerForm.controls['title'].hasError('required')">
                                            <div class="text-danger text-50 m-0">Añade un título a la oferta</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <label for="name" class="form-label">Descripción</label>
                                    <textarea type="text" class="form-control border" placeholder="Añadir una pequeña descripción" rows="5" formControlName="description"></textarea>
                                    <div *ngIf="offerForm.controls['description'].invalid && (offerForm.controls['description'].dirty || offerForm.controls['description'].touched)" class="alert">
                                        <div *ngIf="offerForm.controls['description'].hasError('required')">
                                            <div class="text-danger text-50 m-0">Añade una descripción de la oferta</div>
                                        </div>
                                        <div *ngIf="offerForm.controls['description'].hasError('minlength')">
                                            <div class="text-danger text-50 m-0">Mínimo 10 caracteres</div>
                                        </div>
                                        <div *ngIf="offerForm.controls['description'].hasError('maxlength')">
                                            <div class="text-danger text-50 m-0">Máximo 500 caracteres</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="feedbackSent" class="text-center">
                                <div class="container py-4">
                                    <h6 class="my-4">Oferta creada</h6>
                                    <i class="bi bi-check-circle-fill h1 text-success py-4"></i>
                                    <h4 class="mt-4">¡Esperamos encuentres pronto nuevos voluntarios!</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="refresh()">Volver</button>
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal" [routerLink]="['/offers']" *ngIf="feedbackSent">Visualizar las ofertas</button>
                    <button type="button" class="btn btn-primary text-light" (click)="createOffer()" *ngIf="!feedbackSent">Publicar</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Modal configuración del perfil <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModal" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <form [formGroup]="configForm">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Configuración</h5>
                <button type="button" id="closeDelete" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="mb-5">
                            <label for="name" class="form-label">Nombre</label>
                            <input type="text" class="form-control border" id="name" placeholder="Introducir un nombre" formControlName="displayName">
                            <div *ngIf="configForm.controls['displayName'].invalid && (configForm.controls['displayName'].dirty || configForm.controls['displayName'].touched)" class="alert">
                                <div *ngIf="configForm.controls['displayName'].hasError('required')">
                                    <div class="text-danger text-50 m-0">Por favor introduzca el nombre de la asociación</div>
                                </div>
                                <div *ngIf="configForm.controls['displayName'].hasError('minlength')">
                                    <div class="text-danger text-50 m-0">Mínimo 3 caracteres</div>
                                </div>
                                <div *ngIf="configForm.controls['displayName'].hasError('maxlength')">
                                    <div class="text-danger text-50 m-0">Máximo 30 caracteres</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="mb-5">
                                <label for="formFile" class="form-label">Imagen de perfil <br> <small class="text-muted">Se recomienda un formato cuadrado</small></label>
                                <input class="form-control border" type="file" id="formFile" (change)="uploadUserProfileImage($event)">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="cover-image mb-5">
                                <div *ngIf="percent != null">
                                    <small>{{percent}}%</small>
                                    <div class="progress mb-3">
                                        <div class="progress-bar" role="progressbar" [ngStyle]="{'width': percent + '%' }" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-12 pt-4">
                                        <img style="max-width: 100px" class="image-preview mx-0" [src]="user.photoURL" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary text-light">Eliminar perfil</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
                    <button type="button" class="btn btn-primary text-light" (click)="updateUserProfile()">Actualizar</button>
                </div>
            </div>
        </form>
    </div>
</div>
-->