<nav class="navbar navbar-light bg-dark text-secondary">
    <div class="container-fluid">
        <h5 class="py-2 mx-5">Plataforma de Asociaciones <br> de Castilla - La Mancha</h5>
        <div class="dropdown">
            <img width="50px" class="rounded-circle border border-2 border-secondary profile-img mx-4" data-bs-toggle="dropdown" aria-expanded="false" [src]="user.photoURL" alt="User profile image" />
            <div class="dropdown-menu mt-2 dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                <div class="container mx-0">
                    <div class="row justify-content-center">
                        <div class="col-12 text-center py-3">
                            <img width="90px" height="90px" class="rounded-circle border border-2 border-secondary profile-img mx-5 mb-2" [src]="user.photoURL" alt="User profile image" />
                            <p class="h5 mb-0">{{user.displayName}}</p>
                            <small class="text-muted">{{user.email}}</small>
                            <hr>
                            <button class="btn btn-outline-danger" (click)="logout()">Cerrar sesión</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>