<app-navbar></app-navbar>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 text-justify py-5">
            <style type="text/css">
                @import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98');
                .lst-kix_gjtpwjdqjgs6-1>li:before {
                    content: "o  "
                }
                
                ul.lst-kix_gjtpwjdqjgs6-1 {
                    list-style-type: none
                }
                
                ul.lst-kix_gjtpwjdqjgs6-0 {
                    list-style-type: none
                }
                
                .lst-kix_gjtpwjdqjgs6-2>li:before {
                    content: "\0025aa  "
                }
                
                .lst-kix_gjtpwjdqjgs6-3>li:before {
                    content: "\0025cf  "
                }
                
                li.li-bullet-0:before {
                    margin-left: -18pt;
                    white-space: nowrap;
                    display: inline-block;
                    min-width: 18pt
                }
                
                .lst-kix_gjtpwjdqjgs6-4>li:before {
                    content: "o  "
                }
                
                .lst-kix_gjtpwjdqjgs6-7>li:before {
                    content: "o  "
                }
                
                .lst-kix_gjtpwjdqjgs6-5>li:before {
                    content: "\0025aa  "
                }
                
                .lst-kix_gjtpwjdqjgs6-6>li:before {
                    content: "\0025cf  "
                }
                
                ul.lst-kix_gjtpwjdqjgs6-5 {
                    list-style-type: none
                }
                
                ul.lst-kix_gjtpwjdqjgs6-4 {
                    list-style-type: none
                }
                
                ul.lst-kix_gjtpwjdqjgs6-3 {
                    list-style-type: none
                }
                
                ul.lst-kix_gjtpwjdqjgs6-2 {
                    list-style-type: none
                }
                
                ul.lst-kix_gjtpwjdqjgs6-8 {
                    list-style-type: none
                }
                
                .lst-kix_gjtpwjdqjgs6-0>li:before {
                    content: "-  "
                }
                
                ul.lst-kix_gjtpwjdqjgs6-7 {
                    list-style-type: none
                }
                
                .lst-kix_gjtpwjdqjgs6-8>li:before {
                    content: "\0025aa  "
                }
                
                ul.lst-kix_gjtpwjdqjgs6-6 {
                    list-style-type: none
                }
                
                ol {
                    margin: 0;
                    padding: 0
                }
                
                table td,
                table th {
                    padding: 0
                }
                
                .c16 {
                    -webkit-text-decoration-skip: none;
                    color: #000000;
                    font-weight: 700;
                    text-decoration: underline;
                    vertical-align: baseline;
                    text-decoration-skip-ink: none;
                    font-size: 16pt;
                    font-family: "Calibri";
                    font-style: normal
                }
                
                .c17 {
                    color: #000000;
                    font-weight: 400;
                    text-decoration: none;
                    vertical-align: baseline;
                    font-size: 11pt;
                    font-family: "Arial";
                    font-style: normal
                }
                
                .c8 {
                    color: #ff0000;
                    font-weight: 700;
                    text-decoration: none;
                    vertical-align: baseline;
                    font-size: 12pt;
                    font-family: "Calibri";
                    font-style: normal
                }
                
                .c5 {
                    color: #000000;
                    font-weight: 700;
                    text-decoration: none;
                    vertical-align: baseline;
                    font-size: 14pt;
                    font-family: "Calibri";
                    font-style: normal
                }
                
                .c4 {
                    color: #000000;
                    font-weight: 400;
                    text-decoration: none;
                    vertical-align: baseline;
                    font-size: 12pt;
                    font-family: "Calibri";
                    font-style: normal
                }
                
                .c14 {
                    color: #ff0000;
                    font-weight: 700;
                    text-decoration: none;
                    vertical-align: baseline;
                    font-size: 12pt;
                    font-family: "Calibri";
                    font-style: italic
                }
                
                .c2 {
                    padding-top: 0pt;
                    padding-bottom: 0pt;
                    line-height: 1.0;
                    orphans: 2;
                    widows: 2;
                    text-align: justify
                }
                
                .c18 {
                    padding-top: 0pt;
                    padding-bottom: 8pt;
                    line-height: 1.0;
                    orphans: 2;
                    widows: 2;
                    text-align: center
                }
                
                .c0 {
                    padding-top: 0pt;
                    padding-bottom: 8pt;
                    line-height: 1.0;
                    orphans: 2;
                    widows: 2;
                    text-align: justify
                }
                
                .c10 {
                    -webkit-text-decoration-skip: none;
                    color: #0000ff;
                    text-decoration: underline;
                    text-decoration-skip-ink: none
                }
                
                .c15 {
                    color: #ff0000;
                    text-decoration: none;
                    vertical-align: baseline;
                    font-style: normal
                }
                
                .c7 {
                    background-color: #ffffff;
                    max-width: 451.4pt;
                    padding: 72pt 72pt 72pt 72pt
                }
                
                .c6 {
                    font-size: 12pt;
                    font-family: "Calibri";
                    font-weight: 400
                }
                
                .c3 {
                    color: inherit;
                    text-decoration: inherit
                }
                
                .c11 {
                    padding: 0;
                    margin: 0
                }
                
                .c1 {
                    margin-left: 36pt;
                    padding-left: 0pt
                }
                
                .c13 {
                    margin-left: 35.4pt
                }
                
                .c9 {
                    height: 11pt
                }
                
                .c12 {
                    page-break-after: avoid
                }
                
                .title {
                    padding-top: 0pt;
                    color: #000000;
                    font-size: 26pt;
                    padding-bottom: 3pt;
                    font-family: "Arial";
                    line-height: 1.15;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }
                
                .subtitle {
                    padding-top: 0pt;
                    color: #666666;
                    font-size: 15pt;
                    padding-bottom: 16pt;
                    font-family: "Arial";
                    line-height: 1.15;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }
                
                li {
                    color: #000000;
                    font-size: 11pt;
                    font-family: "Arial"
                }
                
                p {
                    margin: 0;
                    color: #000000;
                    font-size: 11pt;
                    font-family: "Arial"
                }
                
                h1 {
                    padding-top: 20pt;
                    color: #000000;
                    font-size: 20pt;
                    padding-bottom: 6pt;
                    font-family: "Arial";
                    line-height: 1.15;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }
                
                h2 {
                    padding-top: 18pt;
                    color: #000000;
                    font-size: 16pt;
                    padding-bottom: 6pt;
                    font-family: "Arial";
                    line-height: 1.15;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }
                
                h3 {
                    padding-top: 16pt;
                    color: #434343;
                    font-size: 14pt;
                    padding-bottom: 4pt;
                    font-family: "Arial";
                    line-height: 1.15;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }
                
                h4 {
                    padding-top: 14pt;
                    color: #666666;
                    font-size: 12pt;
                    padding-bottom: 4pt;
                    font-family: "Arial";
                    line-height: 1.15;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }
                
                h5 {
                    padding-top: 12pt;
                    color: #666666;
                    font-size: 11pt;
                    padding-bottom: 4pt;
                    font-family: "Arial";
                    line-height: 1.15;
                    page-break-after: avoid;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }
                
                h6 {
                    padding-top: 12pt;
                    color: #666666;
                    font-size: 11pt;
                    padding-bottom: 4pt;
                    font-family: "Arial";
                    line-height: 1.15;
                    page-break-after: avoid;
                    font-style: italic;
                    orphans: 2;
                    widows: 2;
                    text-align: left
                }
            </style>



            <p class="c12 c18"><span class="c16">Pol&iacute;tica de Privacidad</span></p>
            <p class="c0 c12"><span class="c4">Plataforma de asociaciones de Castilla - La Mancha pone a su disposici&oacute;n a trav&eacute;s de la p&aacute;gina web https://plataforma-asociaciones-clm.vercel.app/ la presente pol&iacute;tica de privacidad con
                  la finalidad de informarle, de forma detallada, sobre c&oacute;mo tratamos sus datos personales y protegemos su privacidad y la informaci&oacute;n que nos proporciona. En caso de introducir modificaciones en un futuro sobre la misma se lo
                  comunicaremos a trav&eacute;s de la p&aacute;gina web o a trav&eacute;s de otros medios de modo que pueda conocer las nuevas condiciones de privacidad introducidas. </span></p>
            <p class="c0 c12"><span class="c4">En cumplimiento del Reglamento (UE) 2016/679, General de Protecci&oacute;n de Datos y de la Ley Org&aacute;nica 3/2018, de 5 de diciembre, de Protecci&oacute;n de Datos Personales y garant&iacute;a de los derechos
                  digitales le informamos de lo siguiente:</span></p>
            <p class="c0 c12"><span class="c5">Responsable del Tratamiento</span></p>
            <p class="c2"><span class="c4">Titular: Mauro Titanio</span></p>
            <p class="c2"><span class="c4">Domicilio social: calle Pozo Dulce 16</span></p>
            <p class="c2"><span class="c6">Tel&eacute;fono: 621358418 - Correo electr&oacute;nico: maurotitanio@gmail.com</span></p>
            <p class="c2"><span class="c4">P&aacute;gina web: calle Pozo Dulce 16</span></p>
            <p class="c2 c9"><span class="c14"></span></p>
            <p class="c2"><span class="c4">Si tiene cualquier tipo de consulta, duda o sugerencia con relaci&oacute;n a c&oacute;mo usamos sus datos personales puede dirigirse al Delegado de Protecci&oacute;n de Datos a trav&eacute;s de la direcci&oacute;n de
                  correo electr&oacute;nico maurotitanio@gmail.com </span></p>
            <p class="c2 c9"><span class="c4"></span></p>
            <p class="c0 c12"><span class="c5">&iquest;Con qu&eacute; finalidad tratamos sus datos personales?</span></p>
            <p class="c0 c12"><span class="c4">En Plataforma de asociaciones de Castilla - La Mancha recabamos y tratamos su informaci&oacute;n personal con car&aacute;cter general para gestionar la relaci&oacute;n que mantenemos con Ud. siendo las principales
                  finalidades que tenemos identificadas las siguientes:</span></p>
            <ul class="c11 lst-kix_gjtpwjdqjgs6-0 start">
                <li class="c0 c1 li-bullet-0"><span class="c6">Gesti&oacute;n y contrataci&oacute;n de los productos y servicios ofrecidos por nuestra empresa</span></li>
                <li class="c0 c1 li-bullet-0"><span class="c4">Canalizar las solicitudes de informaci&oacute;n, sugerencias y reclamaciones que nos pueda hacer llegar</span></li>
                <li class="c0 c1 li-bullet-0"><span class="c4">Mantenerle informado sobre eventos, ofertas, productos y servicios que puedan resultar de su inter&eacute;s a trav&eacute;s de distintos canales de comunicaci&oacute;n siempre y cuando Ud. haya
                    prestado su consentimiento.</span></li>
                <li class="c0 c1 li-bullet-0"><span class="c4">Gesti&oacute;n de la relaci&oacute;n laboral, en el caso de nuestros empleados.</span></li>
                <li class="c0 c1 li-bullet-0"><span class="c6">Gesti&oacute;n de la relaci&oacute;n comercial mantenida con nuestros proveedores</span></li>
            </ul>
            <p class="c0 c12"><span class="c5">&iquest;C&oacute;mo recabamos su informaci&oacute;n? </span></p>
            <p class="c0 c12"><span class="c4">Recabamos su informaci&oacute;n personal a trav&eacute;s de diferentes medios, pero siempre ser&aacute; informado en el momento de la recogida mediante cl&aacute;usulas informativas sobre el responsable del
                  tratamiento, la finalidad y la base legal del mismo, los destinatarios de los datos y el periodo de conservaci&oacute;n de su informaci&oacute;n, as&iacute; como la forma en que puede ejercer los derechos que le asisten en materia de
                  protecci&oacute;n de datos.</span></p>
            <p class="c0"><span class="c4">En general, la informaci&oacute;n personal que tratamos se limita a datos identificativos (nombre y apellidos, fecha de nacimiento, domicilio, DNI, tel&eacute;fono y correo electr&oacute;nico), servicios contratados y
                  datos de pago y facturaci&oacute;n. </span></p>
            <p class="c0"><span class="c4">En los casos de gesti&oacute;n y selecci&oacute;n de personal recogemos los datos acad&eacute;micos y profesionales para poder atender a las obligaciones derivadas del mantenimiento de la relaci&oacute;n laboral o en
                  su caso, entrar a formar parte de nuestra plantilla. </span></p>
            <p class="c0"><span class="c6">A trav&eacute;s de nuestra p&aacute;gina web recabamos informaci&oacute;n personal relacionada con su navegaci&oacute;n a trav&eacute;s del uso de cookies. Para conocer de manera clara y precisa las cookies que
                  utilizamos, cu&aacute;les son sus finalidades y c&oacute;mo puede configurarlas o deshabilitarlas, consulte nuestra Pol&iacute;tica de Cookies.</span></p>
            <p class="c0 c12"><span class="c5">Responsabilidad del usuario </span></p>
            <p class="c0"><span class="c4">Al facilitarnos sus datos a trav&eacute;s de canales electr&oacute;nicos, el usuario garantiza que es mayor de 14 a&ntilde;os y que los datos facilitados a la Plataforma de asociaciones de Castilla - La Mancha son
                  verdaderos, exactos, completos y actualizados. A estos efectos, el usuario confirma que responde de la veracidad de los datos comunicados y que mantendr&aacute; convenientemente actualizada dicha informaci&oacute;n de modo que responda a su
                  situaci&oacute;n real, haci&eacute;ndose responsable de los datos falsos e inexactos que pudiera proporcionar, as&iacute; como de los da&ntilde;os y perjuicios, directos o indirectos, que pudieran derivarse.</span></p>
            <p class="c0 c12"><span class="c5">&iquest;Cu&aacute;nto conservamos su informaci&oacute;n?</span></p>
            <p class="c0"><span class="c4">En Plataforma de asociaciones de Castilla - La Mancha s&oacute;lo conservamos su informaci&oacute;n por el periodo de tiempo necesario para cumplir con la finalidad para la que fue recogida, dar cumplimiento a las
                  obligaciones legales que nos vienen impuestas y atender las posibles responsabilidades que pudieran derivar del cumplimiento de la finalidad por la que los datos fueron recabados. </span></p>
            <p class="c0"><span class="c4">En todo caso, y por regla general, mantendremos su informaci&oacute;n personal mientras exista una relaci&oacute;n contractual que nos vincule o usted no ejerza su derecho de supresi&oacute;n y/o limitaci&oacute;n del
                  tratamiento, en cuyo caso, la informaci&oacute;n ser&aacute; bloqueada sin darle uso m&aacute;s all&aacute; de su conservaci&oacute;n, mientras pueda ser necesaria para el ejercicio o defensa de reclamaciones o pudiera derivarse alg&uacute;n
                  tipo de responsabilidad que tuviera que ser atendida.</span></p>
            <p class="c0 c12"><span class="c5">&iquest;A qui&eacute;n comunicamos sus datos?</span></p>
            <p class="c0"><span class="c4">En general, en Plataforma de asociaciones de Castilla - La Mancha no compartimos su informaci&oacute;n personal, salvo aquellas cesiones que debemos realizar en base a obligaciones legales impuestas.</span></p>
            <p class="c0"><span class="c4">Asimismo, su informaci&oacute;n personal estar&aacute; a disposici&oacute;n de las Administraciones P&uacute;blicas, Jueces y Tribunales, para la atenci&oacute;n de posibles responsabilidades nacidas del
                  tratamiento.</span></p>
            <p class="c0 c12"><span class="c5">Transferencias internacionales de datos</span></p>
            <p class="c0"><span class="c4">No existen transferencias internacionales de sus datos a pa&iacute;ses fuera del Espacio Econ&oacute;mico Europeo (EEE).</span></p>
            <p class="c0 c12"><span class="c5">&iquest;Cu&aacute;les son sus derechos con relaci&oacute;n al tratamiento de sus datos y c&oacute;mo puede ejercerlos?</span></p>
            <p class="c0"><span class="c4">La normativa en materia de protecci&oacute;n de datos permite que pueda ejercer sus derechos de acceso, rectificaci&oacute;n, supresi&oacute;n y portabilidad de datos y oposici&oacute;n y limitaci&oacute;n a su
                  tratamiento, as&iacute; como a no ser objeto de decisiones basadas &uacute;nicamente en el tratamiento automatizado de sus datos, cuando proceda. </span></p>
            <p class="c0"><span class="c4">Estos derechos se caracterizan por lo siguiente:</span></p>
            <ul class="c11 lst-kix_gjtpwjdqjgs6-0">
                <li class="c0 c1 li-bullet-0"><span class="c4">Su ejercicio es gratuito, salvo que se trate de solicitudes manifiestamente infundadas o excesivas (p. ej., car&aacute;cter repetitivo), en cuyo caso Plataforma de asociaciones de Castilla - La
                    Mancha podr&aacute; cobrar un canon proporcional a los costes administrativos soportados o negarse a actuar</span></li>
                <li class="c0 c1 li-bullet-0"><span class="c4">Puede ejercer los derechos directamente o por medio de tu representante legal o voluntario</span></li>
                <li class="c0 c1 li-bullet-0"><span class="c4">Debemos responder a su solicitud en el plazo de un mes, aunque, si se tiene en cuenta la complejidad y n&uacute;mero de solicitudes, se puede prorrogar el plazo en otros dos meses m&aacute;s.</span>
                </li>
                <li class="c0 c1 li-bullet-0"><span class="c4">Tenemos la obligaci&oacute;n de informarle sobre los medios para ejercitar estos derechos, los cuales deben ser accesibles y sin poder denegarle el ejercicio del derecho por el solo motivo de optar
                    por otro medio. Si la solicitud se presenta por medios electr&oacute;nicos, la informaci&oacute;n se facilitar&aacute; por estos medios cuando sea posible, salvo que nos solicite que sea de otro modo.</span></li>
                <li class="c0 c1 li-bullet-0"><span class="c4">Si Plataforma de asociaciones de Castilla - La Mancha no da curso a la solicitud, le informar&aacute;, a m&aacute;s tardar en un mes, de las razones de su no actuaci&oacute;n y la posibilidad de
                    reclamar ante una Autoridad de Control</span></li>
            </ul>
            <p class="c0"><span class="c4">A fin de facilitar su ejercicio, le facilitamos los enlaces al formulario de solicitud de cada uno de los derechos:</span></p>
            <p class="c0 c13"><span class="c10 c6"><a class="c3"
                    href="https://www.google.com/url?q=https://www.aepd.es/media/formularios/formulario-derecho-de-acceso.pdf&amp;sa=D&amp;source=editors&amp;ust=1626439649546000&amp;usg=AOvVaw3y9NRy2nrbKnbNycTdeEf5">Formulario ejercicio del derecho de
                    acceso</a></span></p>
            <p class="c0 c13"><span class="c10 c6"><a class="c3"
                    href="https://www.google.com/url?q=https://www.aepd.es/media/formularios/formulario-derecho-de-rectificacion.pdf&amp;sa=D&amp;source=editors&amp;ust=1626439649546000&amp;usg=AOvVaw1fCsde7mvkADKwu2uek1sO">Formulario de ejercicio del derecho de
                    rectificaci&oacute;n</a></span></p>
            <p class="c0 c13"><span class="c10 c6"><a class="c3"
                    href="https://www.google.com/url?q=https://www.aepd.es/media/formularios/formulario-derecho-de-oposicion.pdf&amp;sa=D&amp;source=editors&amp;ust=1626439649547000&amp;usg=AOvVaw1g1Vdk7TV3A713zbSof2AU">Formulario de ejercicio del derecho de
                    oposici&oacute;n</a></span></p>
            <p class="c0 c13"><span class="c10 c6"><a class="c3"
                    href="https://www.google.com/url?q=https://www.aepd.es/media/formularios/formulario-derecho-de-supresion.pdf&amp;sa=D&amp;source=editors&amp;ust=1626439649547000&amp;usg=AOvVaw1yB3K5Ho9okxlkioJcM88J">Formulario de ejercicio del derecho de
                    supresi&oacute;n (derecho &ldquo;al olvido&rdquo;)</a></span></p>
            <p class="c0 c13"><span class="c6 c10"><a class="c3"
                    href="https://www.google.com/url?q=https://www.aepd.es/media/formularios/formulario-derecho-de-limitacion.pdf&amp;sa=D&amp;source=editors&amp;ust=1626439649581000&amp;usg=AOvVaw2q3FB_z1ZgFao2QL2S2BUd">Formulario de ejercicio del derecho a la
                    limitaci&oacute;n del tratamiento</a></span></p>
            <p class="c0 c13"><span class="c10 c6"><a class="c3"
                    href="https://www.google.com/url?q=https://www.aepd.es/media/formularios/formulario-derecho-de-portabilidad.pdf&amp;sa=D&amp;source=editors&amp;ust=1626439649582000&amp;usg=AOvVaw2aakKOHROMsZyVW7KOuGwn">Formulario de ejercicios del derecho a
                    la portabilidad</a></span></p>
            <p class="c0 c13"><span class="c10 c6"><a class="c3"
                    href="https://www.google.com/url?q=https://www.aepd.es/media/formularios/formulario-derecho-de-oposicion-decisiones-automatizadas.pdf&amp;sa=D&amp;source=editors&amp;ust=1626439649582000&amp;usg=AOvVaw2mVubycim5rEROxt7dICUm">Formulario de
                    ejercicio a no ser objeto de decisiones individuales automatizadas</a></span></p>
            <p class="c0"><span class="c4">Para ejercer sus derechos Plataforma de asociaciones de Castilla - La Mancha pone a su disposici&oacute;n los siguientes medios:</span></p>
            <p class="c0"><span class="c4">1. Mediante solicitud escrita y firmada dirigida a Plataforma de asociaciones de Castilla - La Mancha, calle Pozo Dulce 16 Ref. Ejercicio de Derechos LOPD.</span></p>
            <p class="c0"><span class="c4">2. Enviando formulario escaneado y firmado a la direcci&oacute;n de correo electr&oacute;nico calle Pozo Dulce 16 indicando en el asunto Ejercicio de Derechos LOPD.</span></p>
            <p class="c0"><span class="c4">En ambos casos, deber&aacute; acreditar su identidad acompa&ntilde;ando fotocopia o en su caso, copia escaneada, de su DNI o documento equivalente para poder verificar que s&oacute;lo damos respuesta al interesado o
                  su representante legal, debiendo aportar en este caso documento acreditativo de la representaci&oacute;n.</span></p>
            <p class="c0"><span class="c4">Asimismo, y especialmente si considera que no ha obtenido satisfacci&oacute;n plena en el ejercicio de sus derechos, le informamos que podr&aacute; presentar una reclamaci&oacute;n ante la autoridad nacional de
                  control dirigi&eacute;ndose a estos efectos a la Agencia Espa&ntilde;ola de Protecci&oacute;n de Datos, C/ Jorge Juan, 6 &ndash; 28001 Madrid.</span></p>
            <p class="c0 c12"><span class="c5">&iquest;C&oacute;mo protegemos su informaci&oacute;n?</span></p>
            <p class="c0"><span class="c4">En Plataforma de asociaciones de Castilla - La Mancha nos comprometemos a proteger su informaci&oacute;n personal. </span></p>
            <p class="c0"><span class="c4">Utilizamos medidas, controles y procedimientos de car&aacute;cter f&iacute;sico, organizativo y tecnol&oacute;gico, razonablemente fiables y efectivos, orientados a preservar la integridad y la seguridad de sus datos
                  y garantizar su privacidad. </span></p>
            <p class="c0"><span class="c4">Adem&aacute;s, todo el personal con acceso a los datos personales ha sido formado y tiene conocimiento de sus obligaciones con relaci&oacute;n a los tratamientos de sus datos personales.</span></p>
            <p class="c0"><span class="c4">Todas estas medidas de seguridad son revisadas de forma peri&oacute;dica para garantizar su adecuaci&oacute;n y efectividad.</span></p>
            <p class="c0"><span class="c6">Sin embargo, la seguridad absoluta no se puede garantizar y no existe ning&uacute;n sistema de seguridad que sea impenetrable por lo que, en el caso de cualquier informaci&oacute;n objeto de tratamiento y bajo nuestro
                  control se viese comprometida como consecuencia de una brecha de seguridad, tomaremos las medidas adecuadas para investigar el incidente, notificarlo a la Autoridad de Control y, en su caso, a aquellos usuarios que se hubieran podido ver
                  afectados para que tomen las medidas adecuadas. </span></p>
        </div>
    </div>

</div>