<app-navbar></app-navbar>
<div class="bg-image-theme m-0 min-vw-100 min-vh-100">
    <div class="container m-0 min-vw-100 bg-glass min-vh-100">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-12 col-sm-12">
                <div class="row">
                    <div class="cover-image"></div>
                </div>
                <div class="bg-light mx-lg-5">
                    <div class="row justify-content-center bg-white rounded-bottom shadow-lg">
                        <div class="col-lg-10 col-md-12 col-sm-12 pt-3">
                            <div class="row justify-content-center ">
                                <div class="col-lg-2 col-sm-12 logo-bar">
                                    <div class="profile-image mx-auto shadow-sm border-light"></div>
                                </div>
                                <div class="col-10">
                                    <div class="container ms-lg-2 ms-md-0 ms-sm-0 text-lg-start text-md-center text-sm-center">
                                        <h3 class="text-dark pt-2">{{association.name}}</h3>
                                        <p class="text-muted">Asociación {{association.type}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-lg-5 px-md-3 px-sm-1 mx-lg-5 mb-5 rounded-bottom pb-4" [ngClass]="{'bg-light': vw >= 600, 'shadow-sm': vw >= 600}">
                    <div class="row pt-4">
                        <div class="col-lg-4 col-md-12 col-sm-12 px-4">
                            <div class="row justify-content-center">
                                <div class="col-12 shadow-sm rounded-3 mt-2 bg-white px-4 mb-3 pb-4">
                                    <div class="pt-4 pb-3 text-dark">
                                        <h5>Información</h5>
                                    </div>
                                    <div>
                                        <p *ngIf="association.address  != ''"><i class="bi bi-geo h5 me-3 text-dark"></i>{{association.address}}</p>
                                        <p><a *ngIf="association.website != ''" [href]="association.website" target="_blank"><i class="bi bi-globe h5 me-3 text-dark"></i>{{association.website}}</a></p>
                                        <p *ngIf="association.telephone != 0"><i class="bi bi-telephone-fill h5 me-3 text-dark"></i>{{association.telephone}}</p>
                                        <p *ngIf="association.email  != ''"><i class="bi bi-envelope h5 me-3 text-dark"></i>{{association.email}}</p>
                                        <h6 class="pb-3">Redes sociales</h6>
                                        <a *ngIf="association.facebook  != ''" [href]="association.facebook" target="_blank"><i class="bi bi-facebook h4 me-3 text-dark pointer"></i></a>
                                        <a *ngIf="association.instagram  != ''" [href]="association.facebook" target="_blank"><i class="bi bi-instagram h4 me-3 text-dark pointer"></i></a>
                                        <a *ngIf="association.twitter  != ''" [href]="association.facebook" target="_blank"><i class="bi bi-twitter h4 me-3 text-dark pointer"></i></a>
                                        <a *ngIf="association.linkedin  != ''" [href]="association.facebook" target="_blank"><i class="bi bi-linkedin h4 me-3 text-dark pointer"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12 px-4">
                            <div class="row justify-content-center">
                                <div class="col-lg-11 col-md-12 col-sm-12 shadow-sm rounded-3 mt-2 bg-white px-4 mb-3">
                                    <div class="pt-4 pb-3 text-dark">
                                        <h5>Descripción</h5>
                                    </div>
                                    <div>
                                        <p class="text-justify">{{association.description}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-11 col-md-12 col-sm-12 shadow-sm rounded-3 mt-2 bg-white px-4 mb-3">
                                    <div class="pt-4 pb-3 text-dark">
                                        <h5>Objetivos</h5>
                                    </div>
                                    <div>
                                        <p class="text-justify">{{association.objectives}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center" *ngIf="association.activities != ''">
                                <div class="col-lg-11 col-md-12 col-sm-12 shadow-sm rounded-3 mt-2 bg-white px-4 mb-3">
                                    <div class="pt-4 pb-3 text-dark">
                                        <h5>Actividades</h5>
                                    </div>
                                    <div>
                                        <p class="text-justify">{{association.activities}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-11 col-md-12 col-sm-12 rounded-3 mt-2 mb-3 text-end">
                                    <button class="btn" routerLink="/create/{{association.id}}" [ngClass]="{'btn-dark': vw <= 600, 'btn-outline-dark': vw > 600}">Modificar perfil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>