<app-navbar></app-navbar>
<div class="bg-image-theme min-vw-100 min-vh-100">
    <div class="container m-0 min-vw-100 bg-glass min-vh-100">
        <div class="row justify-content-center">
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="row">
                    <div class="cover-image">

                        <div class="profile-image  shadow-sm border-light">
                        </div>
                    </div>
                </div>
                <div class="bg-light mx-5">
                    <div class="row justify-content-center bg-white rounded-bottom shadow-lg">

                        <div class="col-lg-8 col-md-12 col-sm-12 pt-3">
                            <div class="container text-center">
                                <h3 class="ms-4 text-dark pt-2">Asociación Participa Joven CR</h3>
                                <p class="text-muted">Asociación juvenil</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-5 mx-5 bg-light mb-5 rounded-bottom shadow-sm pb-4">
                    <div class="row pt-4">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="row justify-content-center">
                                <div class="col-12 shadow-sm rounded-3 mt-2 bg-white px-4">
                                    <div class="pt-4 pb-3 text-dark">
                                        <h5>Información</h5>
                                    </div>
                                    <div>
                                        <p><i class="bi bi-geo h5 me-3 text-dark"></i>Calle no se que</p>
                                        <p><i class="bi bi-globe h5 me-3 text-dark"></i>www.ejemplo.com</p>
                                        <p><i class="bi bi-telephone-fill h5 me-3 text-dark"></i></p>
                                        <p><i class="bi bi-envelope h5 me-3 text-dark"></i></p>
                                        <p><i class="bi bi-facebook h5 me-3 text-dark"></i></p>
                                        <p><i class="bi bi-instagram h5 me-3 text-dark"></i></p>
                                        <p><i class="bi bi-twitter h5 me-3 text-dark"></i></p>
                                        <p><i class="bi bi-linkedin h5 me-3 text-dark"></i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12 col-sm-12">
                            <div class="row justify-content-center">
                                <div class="col-lg-11 col-md-12 col-sm-12 shadow-sm rounded-3 mt-2 bg-white px-4 mb-3">
                                    <div class="pt-4 pb-3 text-dark">
                                        <h5>Descripción</h5>
                                    </div>
                                    <div>
                                        <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit vitae magnam sapiente quam. Minus vitae dolores odit veniam atque, culpa esse ea ullam numquam nihil, temporibus provident ipsam. Vero, pariatur?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-11 col-md-12 col-sm-12 shadow-sm rounded-3 mt-2 bg-white px-4 mb-3">
                                    <div class="pt-4 pb-3 text-dark">
                                        <h5>Objetivos</h5>
                                    </div>
                                    <div>
                                        <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit vitae magnam sapiente quam. Minus vitae dolores odit veniam atque, culpa esse ea ullam numquam nihil, temporibus provident ipsam. Vero, pariatur?</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-lg-11 col-md-12 col-sm-12 shadow-sm rounded-3 mt-2 bg-white px-4 mb-3">
                                    <div class="pt-4 pb-3 text-dark">
                                        <h5>Actividades</h5>
                                    </div>
                                    <div>
                                        <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit vitae magnam sapiente quam. Minus vitae dolores odit veniam atque, culpa esse ea ullam numquam nihil, temporibus provident ipsam. Vero, pariatur?</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>