<app-navbar>


</app-navbar>

<div class="container m-0 min-vw-100 bg-white rounded-3 vh-100 mb-5">
    <div class="row justify-content-between">
        <div class="col-lg-3 col-md-12 col-sm-12 px-4 bg-white shadow-sm" [ngClass]="{'position-sticky vh-100 top-0 pt-5 border-end': vw > 990, 'search-item pt-4' : vw <= 990, 'closed' : !openSearchFilters && vw <= 990,'visible': openSearchFilters && vw <= 990 }">
            <!--PONER MEDIA QUERY-->
            <h4>Búscador</h4>
            <div class="py-4">
                <div class="input-group" [ngClass]="{'mb-5': vw > 990, 'mb-4' : vw <= 990}">
                    <div class="bg-info btn" id="button-addon2"><i class="bi bi-search text-light"></i></div>
                    <input type="text" class="form-control border" placeholder="Buscar asociación..." aria-label="Buscar asociación" aria-describedby="button-addon2" [(ngModel)]="searchText">

                </div>
                <div>
                    <h5 class="" [ngClass]="{'pt-2': vw <= 990}">Filtros de búsqueda <i class="bi bi-plus-circle-fill ms-2  h6 text-info align-middle" *ngIf="vw <= 990" (click)="toggleSearchFilters()"></i></h5>
                </div>
                <div class="row py-4">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="mb-3">
                            <label for="">Provincia</label>
                            <ng-select [items]="provinces" [multiple]="false" [closeOnSelect]="true" bindLabel="name" placeholder="Elegir provincia" [(ngModel)]="selectedProvince" (change)="searchByProvince()"></ng-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-12 col-sm-12 px-4 pt-4 min-vh-100 bg-light">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <h2 class="text-lg-start pt-3 text-sm-center">Ofertas de voluntariado</h2>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row py-5 justify-content-center align-items-center" *ngIf="!pageLoaded">
                <div class="spinner-border text-primary mb-2" role="status" data-aos="fade-in" data-aos-delay="300"></div>
            </div>

            <div class="row" *ngIf="pageLoaded">
                <div class="col-lg-4 col-md-6 col-sm-12 py-4" *ngFor="let o of offers | filter:searchText | filter:searchProvince; let i =index ">
                    <div class="card shadow-sm rounded-3" data-aos="fade-up" [attr.data-aos-delay]="(i * 100)">
                        <div class="card-body">
                            <h5 class="card-title">{{o.title}}</h5>
                            <hr class="my-4">
                            <small class="card-text text-muted">Publicada por:</small>
                            <div class="row ">
                                <div class="col-lg-8 col-md-6 col-sm-6 ">
                                    <p> <a [routerLink]="['/profile', o.author, o.associationId ]" class="fw-bold text-dark ">{{o.associationName}}</a></p>
                                </div>
                                <div class="col-2" *ngIf="o.image != ''">
                                    <img class="rounded-circle img-translate " [routerLink]="['/profile', o.author, o.associationId ]" [src]="o.image " alt=" " width="50px ">
                                </div>
                            </div>
                            <button class="btn mb-2 p-0 text-muted" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapsable' + i" aria-expanded="false" aria-controls="collapseExample">
                                <i class="bi bi-info-circle h6 me-1 text-primary"></i> Descripción de la oferta
                              </button>
                            <div class="collapse" [id]="'collapsable' + i">
                                <div class="">
                                    <p>{{o.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>