@import '../../../variables.scss';
.card {
    background-size: cover;
    color: white;
    padding: 0 0 0 0;
    background-blend-mode: multiply;
    overflow: hidden;
    max-width: 45ch;
    height: 15rem;
    background-repeat: no-repeat;
    transition: transform 500ms ease;
    transition: background-color 500ms ease 500ms;
    // border-top-right-radius: 5rem !important;
}

.col:nth-child(1) .card {
    background-image: url('https://i.imgur.com/C7qAU2S.png');
    background-position: center;
}

.col:nth-child(2) .card {
    background-image: url('https://i.imgur.com/ptFj30o.png');
    background-position: bottom;
}

.col:nth-child(3) .card {
    background-image: url('https://i.imgur.com/lo2wklJ.png');
}

.card-body {
    --padding: 2rem;
    padding: var(--padding);
    color: $dark;
    background: rgba(255, 255, 255, 0.8);
}

.card:focus-within .card-body>* {
    transition-duration: 0ms;
    transition-delay: 0ms;
}

.card-title {
    position: relative;
    width: max-content;
}

.card-title::after {
    content: "";
    position: absolute;
    height: 4px;
    width: calc(100% + var(--padding));
    background-color: $dark;
    left: calc(var(--padding) * -1);
    bottom: -0.2em;
    transform-origin: left;
    transition: transform 500ms ease;
}

@media (hover) {
    .card:hover,
    .card:focus-within {
        transform: scale(1.05);
    }
    .card-body {
        transform: translateY(66%);
        transition: transform 500ms ease;
        transition-delay: 500ms;
        background-color: $white;
        color: $dark;
    }
    .card-body>*:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }
    .card-title::after {
        transform: scaleX(0);
    }
    .card:hover .card-body,
    .card:focus-within .card-body {
        transform: translateY(0);
    }
    .card:focus-within .card-body {
        transition-duration: 0ms;
    }
    .card:hover .card-body>*,
    .card:focus-within .card-body>* {
        transition-delay: 500ms;
        opacity: 1;
    }
    .card:hover .card-title::after,
    .card:focus-within .card-title::after {
        transform: scaleX(1);
    }
    .card:focus-within .card-title::after {
        transition-duration: 0ms;
    }
}