<app-navbar></app-navbar>
<div>
    <div class="row justify-content-center align-content-center vh-70 text-center px-3" *ngIf="!pageLoaded" data-aos="fade-in">
        <h2 class="text-center pb-4 display-4" data-aos="fade-up">Descubre un mundo de oportunidades</h2>
        <div class="spinner-border text-primary mb-2" role="status" data-aos="fade-in" data-aos-delay="300"></div>
        <p class="text-center text-dark" data-aos="fade-in" data-aos-delay="350">Cargando...</p>
    </div>
    <div *ngIf="pageLoaded">

        <div class="container">
            <div class="row justify-items-center justify-content-center pt-5">
                <div class="col-lg-6 col-md-12 col-sm-12 text-center text-dark">
                    <h2 class="section-title">Menú principal</h2>
                    <hr>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row justify-content-center px-lg-5 px-md-2 px-sm-1">
                <div class="col col-lg-5 col-md-6 col-sm-12 py-lg-3 py-sm-2 px-3" [ngClass]="{'col-lg-8' : vh >= 1360}">
                    <div class="col-static">
                        <div class="card shadow-sm mx-auto mb-3 boder border-3 border-dark rounded rounded-3" data-aos="fade-up" data-aos-delay="50">
                            <div class="card-body p-0">
                                <div class="bg-white p-5">
                                    <h4 class="card-title">Asociaciones</h4>
                                    <p class="card-text mt-3">En esta sección puedes conocer las asociaciones inscritas en la plataforma.</p>
                                    <a [routerLink]="[ '/associations']" class="btn btn-primary text-light">Asociaciones</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-5 col-md-6 col-sm-12 py-lg-3 py-sm-2 px-lg-5 px-md-2 px-sm-1 mb-5" [ngClass]="{'col-lg-12' : vh >= 1360}">
                    <div class="col-animated px-1">
                        <div class="card card-animated shadow-sm mx-auto mb-3 boder border-3 border-dark rounded rounded-3" data-aos="fade-up" data-aos-delay="100">
                            <div class="card-body">
                                <h5 class="card-title" *ngIf="!associationExist">Crear perfil de asociación</h5>
                                <h5 class="card-title" *ngIf="associationExist">{{userAssociation[0].name}}</h5>
                                <p class="card-text mt-3" *ngIf="!associationExist">Empieza a crear el perfil de tu asociación para que las personas puedan conocer vuestras actividades.</p>
                                <p class="card-text mt-3" *ngIf="associationExist">Accede al perfil de tu asociación. Podrás ver una vista previa y modificarlo.</p>
                                <a (click)="createAssociation()" class="btn btn-primary text-light" *ngIf="!associationExist">Crea el perfil</a>
                                <a [routerLink]="['/profile', user.uid, userAssociation[0].id ]" class="btn btn-primary text-light" *ngIf="associationExist">Acceder al perfil</a>
                            </div>
                        </div>
                        <div class="card card-animated shadow-sm mx-auto mb-3 boder border-3 border-dark rounded rounded-3" data-aos="fade-up" data-aos-delay="150">
                            <div class="card-body">
                                <h5 class="card-title">Ofertas de Voluntariado</h5>
                                <p class="card-text mt-3">Descubre las ofertas de voluntario publicadas por las asociaciones.<br>¡Juntos somos más fuertes!</p>
                                <a href="#" class="btn btn-primary text-light" data-bs-toggle="modal" data-bs-target="#exampleModal">Ofertas de voluntariado</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lo sentimos mucho 😔</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Todavía esta sección está en desarrollo. <br><strong>Pronto estará disponible.</strong> <br> <br> Mientras tanto puedes crear el perfil de tu asociación o echar un vistazo a las otras asociaciones presentes en la plataforma.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>