@import '../../../variables.scss';
.card-animated {
    background-size: 100%;
    color: white;
    padding: 0 0 0 0;
    background-blend-mode: multiply;
    overflow: hidden;
    max-width: 45ch;
    background-repeat: no-repeat;
    transition: transform 500ms ease;
    transition: background-color 500ms ease 500ms;
    // border-top-right-radius: 5rem !important;
}

.col .card {
    background-image: url('https://i.imgur.com/C7qAU2S.png');
    background-position: center;
    background-size: cover;
    height: 31rem;
}

.col-animated .card-animated:nth-child(1) {
    background-image: url('https://i.imgur.com/ptFj30o.png');
    background-position: bottom;
    height: 15rem;
}

.col-animated .card-animated:nth-child(2) {
    background-image: url('https://i.imgur.com/lo2wklJ.png');
    height: 15rem;
    background-position: top;
}

.card-animated .card-body {
    --padding: 2rem;
    padding: var(--padding);
    color: $dark;
    background: rgba(255, 255, 255, 0.95);
}

.card-animated:focus-within .card-body>* {
    transition-duration: 0ms;
    transition-delay: 0ms;
}

@media (hover) {
    .card-animated:hover,
    .card-animated:focus-within {
        transform: scale(1.05);
    }
    .card-animated .card-body {
        transform: translateY(66%);
        transition: transform 500ms ease;
        background-color: $white;
        color: $dark;
    }
    .card-animated .card-body>*:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms linear;
    }
    .card-animated:hover .card-body,
    .card-animated:focus-within .card-body {
        transform: translateY(0);
    }
    .card-animated:focus-within .card-body {
        transition-duration: 0ms;
    }
    .card-animated:hover .card-body>*,
    .card-animated:focus-within .card-body>* {
        transition-delay: 200ms;
        opacity: 1;
    }
    .card-animated:focus-within .card-title::after {
        transition-duration: 0ms;
    }
}