<app-navbar></app-navbar>
<div class="container">
    <div class="row align-content-center py-5">
        <div class="col col-lg-4 col-md-4 col-sm-12 py-lg-5 py-sm-2">
            <div class="card shadow-lg mx-auto mb-3 boder border-3 border-dark rounded rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Asociaciones</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary text-light">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-12 py-lg-5 py-sm-2">
            <div class="card shadow-lg mx-auto mb-3 boder border-3 border-dark rounded rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Crear perfil de asociación</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary text-light">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col col-lg-4 col-md-4 col-sm-12 py-lg-5 py-sm-2">
            <div class="card shadow-lg mx-auto mb-3 boder border-3 border-dark rounded rounded-3">
                <div class="card-body">
                    <h5 class="card-title">Ofertas de Voluntariado</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary text-light">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>