<app-navbar></app-navbar>
<div class="container">
    <div class="row align-content-center py-5">
        <div class="col-lg-4 col-md-4 col-sm-12 py-lg-5 py-sm-2">
            <div class="card my-3">
                <img src="https://picsum.photos/200/100" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Card text</p>
                    <a href="" class="btn btn-primary text-light">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 py-lg-5 py-sm-2">
            <div class="card my-3">
                <img src="https://picsum.photos/200/100" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Card text</p>
                    <a href="" class="btn btn-primary text-light">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 py-lg-5 py-sm-2">
            <div class="card my-3">
                <img src="https://picsum.photos/200/100" alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Card text</p>
                    <a href="" class="btn btn-primary text-light">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>