<header class="overflow-hidden vh-100 log-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 header-left pt-5 px-4 mx-lg-5 m-sm-1">
                <div class="header-text py-4 px-4 shadow-lg bg-white rounded-3 text-center">
                    <h1 class="text-dark w-100 fw-normal py-2" [ngClass]="{'display-3': vw > 900}">Plataforma de asociaciones de Castilla-La Mancha</h1>
                    <h3 class="fw-light" [ngClass]="{'h4': vw < 900}">Descubre un mundo de oportunidades</h3>
                    <div class="py-2 text-center">
                        <button id="loginButton" class="btn px-5 btn-primary text-light my-3 rounded-2 shadow-sm" type="button" name="button" data-bs-toggle="modal" data-bs-target="#loginModal">Acceder</button>
                    </div>
                </div>
            </div>
        </div>
        <a id="hiddenButton" data-bs-toggle="modal" data-bs-target="#sentModal"></a>
        <a id="hiddenFbButton" data-bs-toggle="modal" data-bs-target="#devModal"></a>
    </div>
</header>



<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Acceder</h5>
                <button type="button" id="modalCloseLogin" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row pt-3">
                    <div class="col-lg-6 col-md-12 col-sm-12 px-4">
                        <form [formGroup]="loginForm">
                            <div class="form mb-3">
                                <label for="floatingInput">Correo electrónico</label>
                                <input formControlName="email" type="email" class="form-control border" id="floatingInput" placeholder="nombre@ejemplo.com" [ngClass]="{'border-danger': loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched), 'border-dark': !loginForm.controls['email'].errors}">
                                <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert">
                                    <div *ngIf="loginForm.controls['email'].errors">
                                        <div class="text-danger text-50 m-0">Introducir un correo electrónico valido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form mb-4">
                                <label for="floatingPassword">Contraseña</label>
                                <input formControlName="password" type="password" class="form-control border" id="floatingPassword" placeholder="Contraseña" [ngClass]="{'border-danger': loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched), 'border-dark': !loginForm.controls['password'].errors}">
                                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert">
                                    <div *ngIf="loginForm.controls['password'].errors">
                                        <div class="text-danger text-50 m-0">Introducir una contraseña valida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button (click)="loginEmailPsw()" class="btn btn-dark">Acceder</button>
                            </div>
                        </form>
                        <hr *ngIf="vw < 900" class="my-4">
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 px-4 mt-3 text-center" [ngClass]="{'border-start border-dark': vw > 900}">
                        <p>O acceder con:</p>
                        <button class="btn btn-google w-100 mb-2 py-3 " (click)="loginGoogle()"><i class="bi bi-google me-2 "></i>Google</button>
                        <button class="btn btn-facebook w-100 mb-2 py-3 " (click)="toggleFbDev()"><i class="bi bi-facebook me-2 "></i>Facebook</button>
                    </div>
                    <div class="text-center py-4 mt-2 ">
                        <small>¿No tienes un account?</small><a data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signinModal"> Registro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true ">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content ">
            <div class="modal-header ">
                <h5 class="modal-title " id="exampleModalLabel ">Registro</h5>
                <button type="button " id="modalCloseRegister" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="row pt-3">
                    <div class="col-lg-6 col-md-12 col-sm-12 px-4 ">
                        <form [formGroup]="registerForm ">
                            <div class="mb-3 ">
                                <label for="floatingInput ">Correo electrónico</label>
                                <input formControlName="email" type="email" class="form-control border mb-0 " placeholder="nombre@ejemplo.com" [ngClass]="{'border-danger': registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched), 'border-dark': !registerForm.controls['email'].errors}">
                                <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="alert">
                                    <div *ngIf="registerForm.controls[ 'email'].errors ">
                                        <div class="text-danger text-50 m-0 ">Introducir un correo electrónico valido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 ">
                                <label for="floatingPassword ">Contraseña</label>
                                <input formControlName="password" type="password" class="form-control border" placeholder=" " [ngClass]="{'border-danger': registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched), 'border-dark' : !registerForm.controls['password'].errors}">
                                <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="alert">
                                    <div *ngIf="registerForm.controls['password'].errors">
                                        <div class="text-danger text-50 m-0 ">Introducir una contraseña valida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 ">
                                <label for="floatingPassword ">Repetir contraseña</label>
                                <input formControlName="confirmPassword" type="password" class="form-control border" [ngClass]="{'border-danger': registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched), 'border-dark' : !registerForm.controls['confirmPassword'].errors}">
                                <div *ngIf="registerForm.controls['confirmPassword'].invalid && (registerForm.controls['confirmPassword'].dirty || registerForm.controls['confirmPassword'].touched)" class="alert">
                                    <div *ngIf="registerForm.controls['confirmPassword'].errors">
                                        <div class="text-danger text-50 m-0 ">Repetir la misma contraseña</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check mb-4 ms-4">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" formControlName="privacyPolicy" (click)="togglePrivacyPolicy()" [ngClass]="{'border-danger': registerForm.controls['privacyPolicy'].invalid && (registerForm.controls['privacyPolicy'].dirty || registerForm.controls['privacyPolicy'].touched) || logFormSent == true}">
                                <small class="form-check-label" for="flexCheckDefault" [ngClass]="{'text-danger': registerForm.controls['privacyPolicy'].invalid && (registerForm.controls['privacyPolicy'].dirty || registerForm.controls['privacyPolicy'].touched) || logFormSent == true}">
                                  Acepto la <a [routerLink]="['/privacy']" routerLinkActive="router-link-active" class="fw-bold" (click)="toggleModal()">política de privacidad</a> 
                                </small>
                            </div>
                            <div class="text-center ">
                                <button (click)="register()" type="button" class="btn btn-dark text-light">Registro</button>
                            </div>
                        </form>
                        <hr *ngIf="vw < 900" class="my-4">
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 px-4 text-center" [ngClass]="{'border-start border-dark': vw > 900}">
                        <p>O registrarse con:</p>
                        <button (click)="loginGoogle()" class="btn btn-google w-100 mb-2 py-3 "><i class="bi bi-google me-2 "></i> Google</button>
                        <button (click)="toggleFbDev()" class="btn btn-facebook w-100 mb-2 py-3 "><i class="bi bi-facebook me-2 "></i> Facebook</button>
                    </div>
                    <div class="text-center py-4 mt-2 ">
                        <small>¿Ya tienes un account?</small><a data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal"> Acceder</a>
                    </div>
                </div>
                <div class="text-center" *ngIf="verificationSent">
                    <div class="container pb-4 pt-2">
                        <h6 class="my-4">Hemos envíado un mail de verificación a tu correo electrónico </h6>
                        <div class="container mb-3">
                            <i class="bi bi-check-circle-fill h1 text-success py-4 mb-4"></i>
                        </div>
                        <p class="mb-0">Pincha en el enlace para activar tu cuenta</p>
                        <small class="text-muted">Si no encuentras el mail, mira en la carpeta de spam</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="sentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel ">Registro</h5>
                <button type="button" id="modalCloseRegister" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <div class="text-center">
                    <div class="container pb-4 pt-2">
                        <h6 class="my-4">Hemos envíado un mail de verificación a tu correo electrónico </h6>
                        <div class="container mb-3">
                            <i class="bi bi-check-circle-fill h1 text-success py-4 mb-4"></i>
                        </div>
                        <p class="mb-0">Pincha en el enlace para activar tu cuenta</p>
                        <small class="text-muted">Si no encuentras el mail, mira en la carpeta de spam</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Dev-->
<div class="modal fade" id="devModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lo sentimos mucho 😔</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Todavía el acesso con Facebook está en desarrollo.<br><strong>Pronto estará disponible.</strong><br><br>Mientras tanto puedes registrarte con email y contraseña o acceder con tu usuario de Google.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
            </div>
        </div>
    </div>
</div>