<header class="overflow-hidden vh-100 log-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 header-left pt-5 px-4 mx-lg-5 m-sm-1">
                <div class="header-text py-4 px-4 shadow-lg bg-white rounded-3">
                    <h1 class="display-3 text-dark w-100 fw-normal">Plataforma de asociaciones de Castilla-La Mancha</h1>
                    <p class="mt-3">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                    <button id="loginButton" class="btn px-5 btn-primary text-light my-3 rounded-2 shadow-sm" type="button" name="button" data-bs-toggle="modal" data-bs-target="#loginModal">Acceder</button>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Acceder</h5>
                <button type="button" id="modalCloseLogin" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row pt-3">
                    <div class="col-6 px-4">
                        <form [formGroup]="loginForm">
                            <div class="form mb-3">
                                <label for="floatingInput">Correo electrónico</label>
                                <input formControlName="email" type="email" class="form-control" id="floatingInput" placeholder="nombre@ejemplo.com">
                                <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert">
                                    <div *ngIf="loginForm.controls['email'].errors">
                                        <div class="text-danger text-50 m-0">Introducir un correo electrónico valido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form mb-3">
                                <label for="floatingPassword">Contraseña</label>
                                <input formControlName="password" type="password" class="form-control" id="floatingPassword" placeholder="Contraseña">
                                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert">
                                    <div *ngIf="loginForm.controls['password'].errors">
                                        <div class="text-danger text-50 m-0">Introducir una contraseña valida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button (click)="loginEmailPsw()" class="btn btn-dark">Acceder</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 px-4 border-start border-dark text-center">
                        <p>O acceder con:</p>
                        <button class="btn btn-google w-100 mb-2 py-3" (click)="loginGoogle()"><i class="bi bi-google me-2"></i>Google</button>
                        <button class="btn btn-facebook w-100 mb-2 py-3" (click)="loginFb()"><i class="bi bi-facebook me-2"></i>Facebook</button>
                    </div>
                    <div class="text-center py-4 mt-2">
                        <small>¿No tienes un account?</small><a data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signinModal"> Registro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Sign in modal-->
<div class="modal  fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                <button type="button" id="modalCloseRegister" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row pt-3">
                    <div class="col-6 px-4">
                        <form [formGroup]="registerForm">
                            <div class="mb-3">
                                <label for="floatingInput">Correo electrónico</label>
                                <input formControlName="email" type="email" class="form-control border-1 border-dark mb-0" placeholder="nombre@ejemplo.com">
                                <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="alert">
                                    <div *ngIf="registerForm.controls['email'].errors">
                                        <div class="text-danger text-50 m-0">Introducir un correo electrónico valido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="floatingPassword">Contraseña</label>
                                <input formControlName="password" type="password" class="form-control border-1 border-dark" placeholder="">
                                <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)" class="alert">
                                    <div *ngIf="registerForm.controls['password'].errors">
                                        <div class="text-danger text-50 m-0">Introducir una contraseña valida</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="floatingPassword">Repetir contraseña</label>
                                <input formControlName="confirmPassword" type="password" class="form-control border-1 border-dark" placeholder="">
                                <div *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)" class="alert">
                                    <div *ngIf="registerForm.controls['email'].errors">
                                        <div class="text-danger text-50 m-0">Repetir la misma contraseña</div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button (click)="register()" type="button" class="btn btn-dark text-light">Registro</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 px-4 border-start border-dark text-center">
                        <p>O registrarse con:</p>
                        <button (click)="loginGoogle()" class="btn btn-google w-100 mb-2 py-3"><i class="bi bi-google me-2"></i> Google</button>
                        <button (click)="loginFb()" class="btn btn-facebook w-100 mb-2 py-3"><i class="bi bi-facebook me-2"></i> Facebook</button>
                    </div>
                    <div class="text-center py-4 mt-2">
                        <small>¿Ya tienes un account?</small><a data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal"> Acceder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>