<header class="overflow-hidden vh-100 log-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 header-left pt-5 px-4 mx-lg-5 m-sm-1">
                <div class="header-text py-4 px-4 shadow-lg bg-white rounded-3">
                    <h1 class="display-3 text-dark w-100 fw-normal">Plataforma de asociaciones de Castilla-La Mancha</h1>
                    <p class="w-75 mt-3">consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud</p>
                    <button class="btn px-5 btn-outline-dark my-3 rounded-2 me-2" type="button" name="button" data-bs-toggle="modal" data-bs-target="#signinModal">Registro</button>
                    <button class="btn px-5 btn-primary text-light my-3 rounded-2 shadow-sm" type="button" name="button" data-bs-toggle="modal" data-bs-target="#loginModal">Acceder</button>
                </div>
            </div>
        </div>
    </div>
</header>



<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Acceder</h5>
                <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row py-3">
                    <div class="col-6">
                        <form action="">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Correo electrónico</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Contraseña</label>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-dark text-light">Acceder</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 border-start border-dark text-center">
                        <p>O acceder con:</p>
                        <button class="btn btn-google w-100 mb-2" (click)="loginGoogle()"><i class="bi bi-google me-2"></i> Google</button>
                        <button class="btn btn-facebook w-100 mb-2"><i class="bi bi-facebook me-2"></i> Facebook</button>
                    </div>
                    <div class="text-center py-4 mt-2">
                        <small>¿No tienes un account?</small><a data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signinModal"> Registro</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Sign in modal-->
<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro</h5>
                <button type="button" id="modalClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row py-3">
                    <div class="col-6">
                        <form action="">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                                <label for="floatingInput">Correo electrónico</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword">Contraseña</label>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-dark text-light">Registro</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 border-start border-dark text-center">
                        <p>O registrarse con:</p>
                        <button class="btn btn-google w-100 mb-2"><i class="bi bi-google me-2"></i> Google</button>
                        <button class="btn btn-facebook w-100 mb-2"><i class="bi bi-facebook me-2"></i> Facebook</button>
                    </div>
                    <div class="text-center py-4 mt-2">
                        <small>¿Ya tienes un account?</small><a data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#loginModal"> Acceder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>