<app-navbar></app-navbar>
<div class="bg-image-theme min-vw-100 min-vh-100">
    <div class="container m-0 min-vw-100 bg-glass min-vh-100">
        <div class="row justify-content-center ">
            <div class="col-lg-8 col-md-12 col-sm-12 bg-white p-5  rounded-3 shadow-lg" [ngClass]="{'my-5': vw > 900}">
                <h3 class="text-center section-title">Actualizar perfil de asociación</h3>
                <form class="pt-4" [formGroup]="assForm">
                    <ul class="nav nav-pills" id="pills-tab" role="tablist" [ngClass]="{'justify-content-center': vw <= 600, 'nav-fill': vw > 990}">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true" [ngClass]="{'btn-sm': vw <= 600}">Inicio</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" [ngClass]="{'btn-sm': vw <= 600}">Descripción</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false" [ngClass]="{'btn-sm': vw <= 600}">Contacto</button>
                        </li>
                    </ul>
                    <hr class="mb-5">
                    <div class="tab-content mt-3" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="pb-4 mb-2">
                                <h6>Información inicial</h6>
                                <small>Rellena más campos posibile para que tu asociación tenga mucho éxito</small>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="name" class="form-label">Nombre</label>
                                        <input type="text" class="form-control border" id="name" placeholder="Introducir un nombre" formControlName="name">
                                        <div *ngIf="assForm.controls['name'].invalid && (assForm.controls['name'].dirty || assForm.controls['name'].touched)" class="alert">
                                            <div *ngIf="assForm.controls['name'].hasError('required')">
                                                <div class="text-danger text-50 m-0">Por favor introduzca el nombre de la asociación</div>
                                            </div>
                                            <div *ngIf="assForm.controls['name'].hasError('minlength')">
                                                <div class="text-danger text-50 m-0">Mínimo 3 caracteres</div>
                                            </div>
                                            <div *ngIf="assForm.controls['name'].hasError('maxlength')">
                                                <div class="text-danger text-50 m-0">Máximo 30 caracteres</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="assType" class="form-label">Tipología</label>
                                        <select class="form-select border" aria-label="Default select example" formControlName="type">
                                            <option value="{{type}}" *ngFor="let type of associationTypes">{{type}}</option>
                                        </select>
                                        <div *ngIf="assForm.controls['type'].invalid && (assForm.controls['type'].dirty || assForm.controls['type'].touched)" class="alert">
                                            <div *ngIf="assForm.controls['type'].hasError('required')">
                                                <div class="text-danger text-50 m-0">Por favor seleccionar la tipología de asociación</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="formFile" class="form-label">Imagen de perfil <br> <small class="text-muted">Se recomienda un formato cuadrado</small></label>
                                        <input class="form-control border" type="file" id="formFile" (change)="uploadProfileImage($event)">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="cover-image mb-5">
                                        <div *ngIf="percent != null">
                                            <small>{{percent}}%</small>
                                            <div class="progress mb-3">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': percent + '%' }" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-6 pt-4">
                                                <img class="image-preview mx-0" [src]="association.profileImage" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="formFile" class="form-label">Imagen de portada <br> <small class="text-muted">tamaño mínimo 900x300</small></label>
                                        <input class="form-control border" type="file" id="formFile" (change)="uploadProfileCover($event)">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="cover-image mb-5">
                                        <div *ngIf="percentCover != null">
                                            <small>{{percentCover}}%</small>
                                            <div class="progress mb-3">
                                                <div class="progress-bar" role="progressbar" [ngStyle]="{'width': percentCover + '%' }" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="row justify-content-center align-items-center">
                                            <div class="col-6 pt-4">
                                                <img class="image-preview mx-0" [src]="association.profileCover" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                                    <button class="btn btn-secondary mx-2 mb-2" (click)="navTab()">Siguente</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade mt-3" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <h6 class="pb-4">Descripción de la asociación</h6>
                            <div class="mb-5">
                                <label for="description" class="form-label">Descripción</label>
                                <textarea class="form-control border" id="description" rows="5" placeholder="Una pequeña descripción de la asociación" formControlName="description"></textarea>
                                <div *ngIf="assForm.controls['description'].invalid && (assForm.controls['description'].dirty || assForm.controls['description'].touched)" class="alert">
                                    <div *ngIf="assForm.controls['description'].hasError('required')">
                                        <div class="text-danger text-50 m-0">Por favor introduzca una pequeña descripción de la asociación</div>
                                    </div>
                                    <div *ngIf="assForm.controls['description'].hasError('minlength')">
                                        <div class="text-danger text-50 m-0">Mínimo 20 caracteres</div>
                                    </div>
                                    <div *ngIf="assForm.controls['description'].hasError('maxlength')">
                                        <div class="text-danger text-50 m-0">Máximo 1000 caracteres</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <label for="obj" class="form-label">Objetivos</label>
                                <textarea class="form-control border" id="obj" rows="5" placeholder="Especifiques los objetivos de la asociación" formControlName="objectives"></textarea>
                                <div *ngIf="assForm.controls['objectives'].invalid && (assForm.controls['objectives'].dirty || assForm.controls['objectives'].touched)" class="alert">
                                    <div *ngIf="assForm.controls['objectives'].hasError('required')">
                                        <div class="text-danger text-50 m-0">Por favor especifique los objetivos de la asociación</div>
                                    </div>
                                    <div *ngIf="assForm.controls['objectives'].hasError('minlength')">
                                        <div class="text-danger text-50 m-0">Mínimo 20 caracteres</div>
                                    </div>
                                    <div *ngIf="assForm.controls['objectives'].hasError('maxlength')">
                                        <div class="text-danger text-50 m-0">Máximo 1000 caracteres</div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-5">
                                <label for="act" class="form-label">Actividades</label>
                                <textarea class="form-control border" id="act" rows="5" placeholder="Puedes añadir las actividades de la asociación" formControlName="activities"></textarea>
                                <div *ngIf="assForm.controls['activities'].invalid && (assForm.controls['activities'].dirty || assForm.controls['activities'].touched)" class="alert">
                                    <div *ngIf="assForm.controls['activities'].hasError('minlength')">
                                        <div class="text-danger text-50 m-0">Mínimo 20 caracteres</div>
                                    </div>
                                    <div *ngIf="assForm.controls['activities'].hasError('maxlength')">
                                        <div class="text-danger text-50 m-0">Máximo 1000 caracteres</div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                                    <button class="btn btn-secondary mx-2 mb-2" (click)="navTab()">Siguente</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade mt-3" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <h6 class="pb-4">Datos de contacto</h6>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="inputAddress" class="form-label">Dirección</label>
                                        <input type="text" class="form-control border" id="inputAddress" placeholder="Calle ejemplo, 12345, localidad, provincia" formControlName="address">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="tel" class="form-label">Teléfono</label>
                                        <input type="tel" class="form-control border" id="tel" placeholder="" formControlName="telephone">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="mail" class="form-label">Correo electrónico</label>
                                        <input type="text" class="form-control border" id="mail" placeholder="ejemplo@mail.com" formControlName="email">
                                        <div *ngIf="assForm.controls['email'].dirty" class="alert">
                                            <div *ngIf="assForm.controls['email'].hasError('required')">
                                                <div class="text-danger text-50 m-0">Por favor introduzca una dirección de correo electrónico</div>
                                            </div>
                                            <div *ngIf="assForm.controls['email'].hasError('email')">
                                                <div class="text-danger text-50 m-0">Por favor introduzca una dirección de correo electrónico válida</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="web" class="form-label">Página web</label>
                                        <input type="text" class="form-control border" id="web" placeholder="https://tupáginaweb.com/" formControlName="website">
                                    </div>
                                </div>
                            </div>
                            <h6 class="pb-4">Redes sociales</h6>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="inputFb" class="form-label"><i class="bi bi-facebook mx-2 h5"></i>Facebook</label>
                                        <input type="text" class="form-control border" id="inputFb" placeholder="https://www.facebook.com/nombre-de-la-página" formControlName="facebook">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="inputIg" class="form-label"><i class="bi bi-instagram mx-2 h5"></i>Instagram</label>
                                        <input type="text" class="form-control border" id="inputIg" placeholder="https://www.instagram.com/nombre-de-la-página" formControlName="instagram">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="inputTw" class="form-label"><i class="bi bi-twitter mx-2 h5"></i>Twitter</label>
                                        <input type="text" class="form-control border" id="inputTw" placeholder="https://twitter.com/nombre-de-la-página" formControlName="twitter">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12">
                                    <div class="mb-5">
                                        <label for="inputLkdn" class="form-label"><i class="bi bi-linkedin mx-2 h5"></i>Linkedin</label>
                                        <input type="text" class="form-control border" id="inputLkdn" placeholder="https://www.linkedin.com/in/nombre-de-la-página" formControlName="linkedin">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row justify-content-center">
                                <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                                    <button class="btn btn-dark text-light mx-2 mb-2" (click)="updateProfile()">Actualizar perfil</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!--Modal Eliminar-->