@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './variables.scss';
@import './node_modules/bootstrap/scss/bootstrap.scss';
//
//
html,
body {
    background-color: $white;
    min-height: 100vh !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    cursor: default !important;
}

a {
    cursor: pointer;
}

.log-header {
    background-image: url('https://i.imgur.com/6dpdXPc.png');
    background-position: center;
    background-size: cover;
}

.bg-white {
    background-color: $white !important;
}

.btn-facebook {
    background-color: $fbBlue;
    color: $white;
    transition: $all500out;
}

.btn-facebook:hover {
    color: $white;
    opacity: 0.5;
}

.btn-google {
    background-color: $googleRed;
    color: $white;
    transition: $all500out;
}

.btn-google:hover {
    color: $white;
    opacity: 0.5;
}

.align-items-center {
    align-items: center !important;
}

.footer-row {
    position: absolute !important;
    bottom: 0 !important;
    left: 0;
}

.footer {
    position: absolute;
    bottom: 0 !important;
}