$dark: #002850;
$secondary: #EEF0F2;
$info: #f7ba00;
$primary: #EF476F;
$white: #fff;
$fbBlue: #32508E;
$googleRed: #EB4435;
$myPink: #FDC4D2;
$myLightBlue: #8CC3F9;
$font-family-base: 'Karla',
sans-serif;
$headings-font-family: 'Montserrat',
sans-serif;
$headings-color:$dark;
$btn-padding-x: 1.3rem;
$btn-padding-y: 0.5rem;
$input-btn-border-width: 0;
$input-btn-focus-width: 0;
$btn-focus-width: 0;
$all500out: all 500ms ease-out;
$spinner-animation-speed: 1s;
$form-check-input-checked-bg-color:$dark;