@import '../../../variables.scss';
.search-item {
    overflow-y: hidden;
}

.closed {
    height: 13rem;
}

.mini-img {
    width: 100%;
    height: 100%;
    background-color: $white;
}

@media (hover) {
    .minicard-body:hover,
    .minicard-body:focus-within {
        opacity: 0.5;
        transition: opacity 500ms ease;
    }
}