<app-navbar></app-navbar>

<div class="container m-0 min-vw-100 bg-white rounded-3 vh-100 mb-5">
    <div class="row justify-content-between">
        <div class="col-lg-3 col-md-12 col-sm-12 px-4 pt-5 bg-white vh-lg-100 border-end shadow-sm position-sticky top-0">
            <!--PONER MEDIA QUERY-->
            <h5>Búscador</h5>
            <div class="py-4">
                <div class="input-group mb-5">
                    <div class="bg-info btn" id="button-addon2"><i class="bi bi-search text-light"></i></div>
                    <input type="text" class="form-control border" placeholder="Buscar asociación..." aria-label="Buscar asociación" aria-describedby="button-addon2" [(ngModel)]="searchText">

                </div>
                <div>
                    <h6>Filtros de búsqueda</h6>
                </div>
                <div class="row py-4">
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="mb-3">
                            <label for="">Tipología</label>
                            <ng-select [items]="associationTypes" [multiple]="false" [closeOnSelect]="true" [hideSelected]="true" bindLabel="name" placeholder="Elegir tipología" [(ngModel)]="selection" (change)="searchByType()"></ng-select>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6 col-sm-6">
                        <div class="mb-3">
                            <label for="">Provincia</label>
                            <ng-select [items]="provinces" [multiple]="false" [closeOnSelect]="true" bindLabel="name" placeholder="Elegir provincia" [(ngModel)]="selectedProvince" (change)="searchByProvince()"></ng-select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9 col-md-12 col-sm-12 px-4 pt-4 min-vh-100 bg-light">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <h2 class="text-lg-start  text-sm-center">Asociaciones</h2>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row py-5 justify-content-center align-items-center" *ngIf="!pageLoaded">
                <div class="spinner-border text-primary mb-2" role="status" data-aos="fade-in" data-aos-delay="300"></div>
            </div>
            <div class="row minicard" *ngIf="pageLoaded">
                <div class="minicard-body">
                    <div class="col-lg-4 col-md-6 col-sm-12 py-4 px-2" *ngFor="let ass of associations | filter:searchText | filter:searchProvince">
                        <div class="row bg-white align-items-center shadow-sm py-2 rounded-3" [routerLink]="['/profile', ass.author, ass.id ]">
                            <div class="col mx-0 border-end">
                                <img class="mini-img rounded-circle border mx-auto" [src]="ass.profileImage" alt="">
                            </div>
                            <div class="col-9 py-2">
                                <div class="">
                                    <h6 class="text-dark mb-0">{{ass.name}}</h6>
                                    <small class="text-dark">{{ass.type}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>